<head>

<!-- Basic Page Needs -->
<meta charset="utf-8">
<title>hypertEND | Sodium Tracker</title>

<!-- Favicons-->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/menu.css" rel="stylesheet">
<link href="/font-awesome/css/font-awesome.css" rel="stylesheet" >
<link href="/css/socialize-bookmarks.css" rel="stylesheet">
<link rel="stylesheet" href="js/fancybox/source/jquery.fancybox.css?v=2.1.4">
<link href="/css/animate.css" rel="stylesheet">
<link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen">

<!-- Google web font -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Jquery -->
<script src="js/jquery.1.7.2.min.js"></script>

<!-- Support media queries for IE8 -->
<script src="js/respond.min.js"></script>

<!-- HTML5 and CSS3-in older browsers-->
<script src="js/modernizr.custom.17475.js"></script>

<!--[if IE 7]>
  <link rel="stylesheet" href="font-awesome/css/font-awesome-ie7.min.css">
<![endif]-->


</head>

<body>

      <header>
           <div class="container">
            <div class="row">
          <div class="col-md-4 col-xs-3"><h1 id="logo"><a href="/" title="hypertEND | Sodium Tracker">hypertEND | Sodium Tracker</a></h1></div>
            <nav class="col-md-8 col-xs-9">
              <ul id="main-nav" class="sf-menu">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Training</a>
                  <ul>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Programs</a></li>
                    </ul>
                </li>
                <li><a href="#">Calorie calculators</a>
                <ul>
                        <li><a href="#">Daily calories</a></li>
                        <li><a href="#">Calories burned by heart rate</a></li>
                        <li><a href="#">Calories burned by activites</a></li>
                        <li><a href="#">BMI calculator</a></li>
                    </ul>
                </li>
                <li><a href="#">Pages</a>
                  <ul>
                      <li><a href="#">Pricing</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Single post</a></li>
                    </ul>
                </li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Purchase</a></li>
                </ul>
            </nav><!-- End Nav -->
         </div>
        </div><!-- End container -->
        </header> <!-- End header -->

<div class="container">

<h3 class="title">Meal Totals</h3>
<!-- <div class="col-md-6"> -->

<div class="row">
    <% @meals.each do |meal| %>
      <!-- <div class="col-md-8"> -->
       <!--  <div class="well"> -->
          <h3><h4><a href="/meals/<%= meal.id %>"><%= meal.name %></a></h3>
          <h4>Date Added: <%= meal.friendly_created_at %></h6></h4>
          <h4>Sodium Total: <%= meal.sodium_total %> mgs</h4>
          <h4>Calories Total: <%= meal.calories_total %></h4>
          <h4>Cholesterol Total : <%= meal.cholesterol_total %> mgs</h4>
          <h4>Protein Total: <%= meal.protein_total %> gs</h4>
          <h4>Potassium Total: <%= meal.potassium_total %> mgs</h4>
          <h4>Sugars Total: <%= meal.sugar_total%> gs</h4>
          <br>
    <% end %>   
       <!--  </div> -->
      <!-- </div> -->
<!-- </div> -->
</div>

 <h4><a href="/">Back to food items</a></h4>
</div>
<div class="container">
            <div class="row">
  </div>
  </div>
