<head>

<!-- Basic Page Needs -->
<meta charset="utf-8">
<title>hypertEND | Sodium Tracker</title>


<!-- Favicons-->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/menu.css" rel="stylesheet">
<link href="font-awesome/css/font-awesome.css" rel="stylesheet" >
<link href="css/socialize-bookmarks.css" rel="stylesheet">
<link rel="stylesheet" href="js/fancybox/source/jquery.fancybox.css?v=2.1.4">
<link href="css/animate.css" rel="stylesheet">

<!-- Google web font -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>

      <header>
           <div class="container">
            <div class="row">
          <div class="col-md-4 col-xs-3"><h1 id="logo"><a href="/" title="hypertEND | Sodium Tracker">hypertEND | Sodium Tracker</a></h1></div>
            <nav class="col-md-8 col-xs-9">
              <ul id="main-nav" class="sf-menu" >
                <li><a href="profile.html">Profile</a></li>
                <li><a href="#">Training</a>
                  <ul>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="training-programs.html">Programs</a></li>
                    </ul>
                </li>
                <li><a href="#">Calorie calculators</a>
                <ul>
                        <li><a href="daily-calorie-calculator.html">Daily calories</a></li>
                        <li><a href="calories-burned-heart-rate.html">Calories burned by heart rate</a></li>
                        <li><a href="calories-burned-calculator.html">Calories burned by activites</a></li>
                        <li><a href="bmi-calculator.html">BMI calculator</a></li>
                    </ul>
                </li>
                <li><a href="#">Pages</a>
                  <ul>
                      <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog_post.html">Single post</a></li>
                        <li><a href="elements.html">Elements</a></li>
                        <li><a href="img-galleries.html">Images and galleries</a></li>
                        <li><a href="media.html">Media</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="#">Purchase</a></li>
                </ul>
            </nav><!-- End Nav -->
         </div>
        </div><!-- End container -->
        </header> <!-- End header -->

<div class="container">

<h3 class="title">Meal Info</h3>
<div class="col-md-6">

<h2>Meal: <%= @meal.name %></h2>
  <h4>Sodium Total: <%= @meal.sodium_total %> mg</h4>
  <h4>Calories Total: <%= @meal.calories_total %></h4>
  <h4>Cholesterol Total : <%= @meal.cholesterol_total %> mg</h4>
  <h4>Protein Total: <%= @meal.protein_total %> g</h4>
  <h4>Potassium Total: <%= @meal.potassium_total %> mg</h4>
  <h4>Sugars Total: <%= @meal.sugar_total%> g</h4>
<br>

<h4><a href="/food_items">Back to all food items</a></h4>
</br>
<h4><a href="/meals">Back to all meal totals</a></h4>

</div>
</div>