<div class="container">

<h3 class="title">Meal Info</h3>
<div class="col-md-6">

<h3>Meal: <%= @meal.name %></h3>
  <h4>Sodium Total: <%= @meal.sodium_total %> mg</h4>
  <h4>Calories Total: <%= @meal.calories_total %></h4>
  <h4>Cholesterol Total : <%= @meal.cholesterol_total %> mg</h4>
  <h4>Protein Total: <%= @meal.protein_total %> g</h4>
  <h4>Potassium Total: <%= @meal.potassium_total %> mg</h4>
  <h4>Sugars Total: <%= @meal.sugar_total%> g</h4>
<br>

<h4><a href="/food_items">Back to all food items</a></h4>
</br>
<h4><a href="/meals">Back to all meal totals</a></h4>

</div>
</div>