<div class="container">

<h3 class="title">Edit Blood Pressure Reading:</h3>
<div class="col-md-6">
<%= form_tag "/blood_pressures/#{@blood_pressure.id}", method: :patch do %>
  <div class="form-bg-1">
   Systolic number: <input type="text" class="form-control" value="<%= @blood_pressure.systolic_number %>" name="systolic_number">
  </div>
  <div class="form-bg-2">
    Diastolic number: <input type="text" class="form-control" value="<%= @blood_pressure.diastolic_number %>" name="diastolic_number">
  </div>
  <div class="form-bg-1">
    Heart Rate: <input type="text" class="form-control" value="<%= @blood_pressure.bpm %>" name="bpm">
  </div>
  <div class="form-bg-2">
    Weight (lbs): <input type="text" class="form-control" value="<%= @blood_pressure.weight %>" name="weight">
  </div>
  <div class="form-bg-1">
    Notes: <input type="text" class="form-control" value="<%= @blood_pressure.notes %>" name="notes" placeholder="Enter any notes here.">
  </div>
  <br>
  <button id="selectBtn" class="button_medium add_top_30" input type="submit">Update</button>
<% end %>
<br>
<h4><a href="/blood_pressures">Back to all blood pressure readings</a></h4>
<br>
<h4><a href="/food_items">Back to all food items</a></h4>