<div class="container">

    <h3 class="title">Your blood pressure readings</h3>
  <div class="col-md-12">
      <br>
      <h2>BP Readings: </h2>
      <br>
      <h4><a href="/blood_pressures/new">Enter a new Blood Pressure reading</a></h4>
      <br>
      <br>
  <div class="col-md-12">
        <h4>Blood Pressure Chart</h4>
          <div class="table-responsive">
            <table class="table" border=2px bordercolor="#7accc8">
              <thead>
                <tr>
                  <th style="width:35%">Top number (systolic) in mm Hg</th>
                  <th style="width:35%">Bottom number (diastolic) in mm Hg</th>
                  <th style="width:30%">Your category*</th>
                </tr>
              </thead>
                <tbody>
                  <tr>
                    <td>Below 120</td>
                    <td>and Below 80</td>
                    <td>Normal blood pressure</td>
                  </tr>
                    <tr>
                      <td>Between 120-139</td>
                      <td>or Between 80-89</td>
                      <td>Prehypertension</td>
                    </tr>
                      <tr>
                        <td>Between 140-159</td>
                        <td>or Between 90-99</td>
                        <td>Stage 1 hypertension</td>
                      </tr>
                        <tr>
                          <td>160 or higher</td>
                          <td>or 100 or higher</td>
                          <td>Stage 2 hypertension</td>
                        </tr>
                </tbody>
            </table> <!-- End table responsive -->
            <br>
            <br>
          </div>    
      </div>
  </div>
  <br>
  <br>
  
    <div class="row">
      <% @blood_pressures.each do |blood_pressure| %>
        <div class="col-md-6">
          <h3><a href="/blood_pressures/<%= blood_pressure.id %>">
          <h4><%= blood_pressure.friendly_created_at %></a></h4>
          <h4><b>Date Added: <%= blood_pressure.friendly_created_at %></b></h4>
          <h4>Systolic number: <%= blood_pressure.systolic_number %></h4>
          <h4>Diastolic number: <%= blood_pressure.diastolic_number %></h4>
          <h4>Heart Rate: <%= blood_pressure.bpm %> bpm</h4>
          <h4>Weight: <%= blood_pressure.weight %> lbs</h4>
          <br>
          <h4>Notes: <%= blood_pressure.notes %></h4>
          <br>
        </div>
      <% end %>
    </div>

      
          <div class="row add_top_15">
          </div>           
</div>



