<head>

<!-- Basic Page Needs -->
<meta charset="utf-8">
<title>hypertEND | Sodium Tracker</title>

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/menu.css" rel="stylesheet">
<link href="font-awesome/css/font-awesome.css" rel="stylesheet" >
<link href="css/socialize-bookmarks.css" rel="stylesheet">
<link rel="stylesheet" href="js/fancybox/source/jquery.fancybox.css?v=2.1.4">
<link href="css/animate.css" rel="stylesheet">
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen">

<!-- Google web font -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>


</head>

<body>

      <header>
           <div class="container">
            <div class="row">
          <div class="col-md-4 col-xs-3"><h1 id="logo"><a href="/" title="Planar - Personal Trainer">hypertEND | Sodium Tracker</a></h1></div>
            <nav class="col-md-8 col-xs-9">
              <ul id="main-nav" class="sf-menu" >
                <li><a href="profile.html">Profile</a></li>
                <li><a href="#">Training</a>
                  <ul>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="training-programs.html">Programs</a></li>
                    </ul>
                </li>
                <li><a href="#">Calorie calculators</a>
                <ul>
                        <li><a href="daily-calorie-calculator.html">Daily calories</a></li>
                        <li><a href="calories-burned-heart-rate.html">Calories burned by heart rate</a></li>
                        <li><a href="calories-burned-calculator.html">Calories burned by activites</a></li>
                        <li><a href="bmi-calculator.html">BMI calculator</a></li>
                    </ul>
                </li>
                <li><a href="#">Pages</a>
                  <ul>
                      <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog_post.html">Single post</a></li>
                        <li><a href="elements.html">Elements</a></li>
                        <li><a href="img-galleries.html">Images and galleries</a></li>
                        <li><a href="media.html">Media</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="#">Purchase</a></li>
                </ul>
            </nav><!-- End Nav -->
         </div>
        </div><!-- End container -->
        </header> <!-- End header -->
        
<div class="container">

<h3 class="title">Edit Food Item:</h3>
<div class="col-md-6">
<%= form_tag "/food_items/#{@food_item.id}", method: :patch do %>
  <div class="form-bg-1">
   Description: <input type="text" class="form-control" value="<%= @food_item.description %>" name="description">
  </div>
  <div class="form-bg-2">
    Sodium: <input type="number" class="form-control" value="<%= @food_item.sodium %>" name="sodium">
  </div>
  <div class="form-bg-1">
    Calories: <input type="number" class="form-control" value="<%= @food_item.calories %>" name="calories">
  </div>
  <div class="form-bg-2">
    Cholesterol: <input type="number" class="form-control" value="<%= @food_item.cholesterol %>" name="cholesterol">
  </div>
  <div class="form-bg-1">
    Potassium: <input type="number" class="form-control" value="<%= @food_item.potassium %>" name="potassium">
  </div>
  <div class="form-bg-2">
    Sugars: <input type="number" class="form-control" value="<%= @food_item.sugar %>" name="sugars">
  </div>
  <div class="form-bg-1">
    Notes: <input type="text" class="form-control" value="<%= @food_item.notes %>" name="notes">
  </div>
  <br>
  <button id="selectBtn" class="button_medium add_top_30" input type="submit">Update Food Item</button>
<% end %>
</div>
</div>