<h1>Edit Food Item:</h1>
<%= form_tag "/food_items/#{@food_item.id}", method: :patch do %>
  <div>
   Description: <input type="text" class="form-control" value="<%= @food_item.description %>" name="description">
  </div>
  <div>
    Sodium: <input type="text" class="form-control" value="<%= @food_item.sodium %>" name="sodium">
  </div>
  <div>
    Calories: <input type="text" class="form-control" value="<%= @food_item.calories %>" name="calories">
  </div>
  <div>
    Cholesterol: <input type="text" class="form-control" value="<%= @food_item.cholesterol %>" name="cholesterol">
  </div>
  <div>
    Potassium: <input type="text" class="form-control" value="<%= @food_item.potassium %>" name="potassium">
  </div>
  <div>
    Sugars: <input type="text" class="form-control" value="<%= @food_item.sugar %>" name="sugars">
  </div>
  <div>
    Notes: <input type="text" class="form-control" value="<%= @food_item.notes %>" name="notes">
  </div>
  
  <input type="submit" class="btn btn-default" value="Update food item">
<% end %>