<h3><%= @food_item.description %></h3>
  <h4>Sodium: <%= @food_item.sodium %> mg</h4>
  <h4>Calories: <%= @food_item.calories %></h4>
  <h4>Cholesterol: <%= @food_item.cholesterol %> mg</h4>
  <h4>Protein: <%= @food_item.protein %> g</h4>
  <h4>Potassium: <%= @food_item.potassium %> mg</h4>
  <h4>Sugars: <%= @food_item.sugar %> g</h4>
  <br>
  <h4>Notes: <%= @food_item.notes %></h4>

 <a href="/food_items/#{@food_item.id}/edit">Edit this food item</a>
 <br>
 <a href="/">Back to all food items</a>